.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.hijo {
  background-image:url("./imagenes/fondo.png");
  color: #62bed7;
  padding-top: 400px;
  padding-bottom:1000px;
  line-height:100px;
  font-style: oblique;
}
.btn{
  background-color: #CE7777;
  
  color: white;
 
  
}
.letras{
 
  
  color: #62bed7;
 
  
}
nav.navbar {
  background-color: #2B3A55;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
